<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Название проекта</th>
      <th>email</th>
      <th>Описание</th>
    </tr>
  </thead>
  <tbody>
  <% @issues.each do |project|  %>
      <tr>
        <th> <%= project.id %> </th>
        <th><%= link_to project.title, project %></th>
        <th><%= mail_to project.email %></th>
        <th><%= simple_format project.desc %></th>
        <th><%= link_to "Удалить", project, method: :delete %>
      </tr>
  <% end %>
</tbody>
</thead>
</table>
<h2>
  <%= link_to "Создать новый проект", new_project_path %>
</h2>
