<h2>Проект: <%= @project.title %></h2>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>State</th>
      <th>Executor</th>
    </tr>
  </thead>
  <tbody>
  <% @issues.each do |issue|  %>
      <tr>
        <th><%= link_to issue.id, project_issue_path(@project, issue) %></th>
        <th><%= issue.state %></th>
        <th><%= issue.executor %></th>
      </tr>
  <% end %>
</tbody>
</thead>
</table>
<h2>
  <%= link_to "Создать новую задачу", new_project_issue_path %>
</h2>
