<h2>Проект: <%= @project.title %></h2>
<table class="list">
  <thead>
    <tr>
      <th>#</th>
      <th>State</th>
      <th>Executor</th>
    </tr>
  </thead>
  <tbody>
  <% @issues.each do |issue|  %>
      <tr class="<%= cycle('list_odd', 'list_even')%>">
        <td class="center"><%= link_to issue.id, project_issue_path(@project, issue) %></td>
        <td><%= issue.state %></td>
        <td><%= issue.executor %></td>
      </tr>
  <% end %>
</tbody>
</thead>
</table>
<h2>
  <%= link_to "Создать новую задачу", new_project_issue_path %>
</h2>
