<ul>
  <li>ID = <%= @issue.id %></li>
  <li>State = <%= @issue.state %></li>
  <li>Executor = <%= @issue.executor %></li>
  <li>Created = <%= @issue.created_at %></li>
  <li>Update = <%= @issue.updated_at %></li>
  <li><%= link_to "edit", edit_project_issue_path %>
  <%= link_to "del", [@project, @issue], :method => :delete %></li>
</ul>
