<table class="list">
  <thead>
    <tr>
      <th>Проект</th>
      <th>email</th>
      <th>Описание</th>
      <th>Количество задач</th>
    </tr>
  </thead>
  <tbody>
  <% @projects.each do |project|  %>
    <% if @issues_count[project.id] != 0 %>
    <tr class="<%= cycle('list_odd', 'list_even')%>">
    <td class="center"><%= link_to project.title, project_issues_path(project) %></td>
    <td><%= mail_to project.email %></td>
    <td><%= simple_format project.desc %></td>
    <td><%= @issues_count[project.id]  %></td>
  </tr>
<% end %>
<% end %>
  </tbody>
</table>
<hr>
<h2 class="linkShowHide">Проекты без задач (<%= @project_null %>)</h2>
<table class="list_noCount">
  <thead>
    <tr>
      <th>Проект</th>
      <th>email</th>
      <th>Описание</th>
      <th>Количество задач</th>
    </tr>
  </thead>
  <tbody>
  <% @projects.each do |project|  %>
    <% if @issues_count[project.id] == 0 %>
    <tr class="<%= cycle('list_odd', 'list_even')%>">
    <td class="center"><%= link_to project.title, project_issues_path(project) %></td>
    <td><%= mail_to project.email %></td>
    <td><%= simple_format project.desc %></td>
    <td><%= @issues_count[project.id]  %></td>
  </tr>
<% end %>
<% end %>
  </tbody>
</table>
