<p id="notice"><%= notice %></p>

<p>
  <b>Contact face:</b>
  <%= @performer.contact_face %>
</p>

<p>
  <b>Email:</b>
  <%= @performer.email %>
</p>


<%= link_to 'Edit', edit_performer_path(@performer) %> |
<%= link_to 'Back', performers_path %>
