<%= form_for(@requestum) do |f| %>
  <% if @requestum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requestum.errors.count, "error") %> prohibited this requestum from being saved:</h2>

      <ul>
      <% @requestum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :theme %><br />
    <%= f.text_field :theme %>
  </div>
  <div class="field">
    <%= f.label :date_time %><br />
    <%= f.datetime_select :date_time %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :id_source %><br />
    <%= f.number_field :id_source %>
  </div>
  <div class="field">
    <%= f.label :id_project %><br />
    <%= f.number_field :id_project %>
  </div>
  <div class="field">
    <%= f.label :id_performer %><br />
    <%= f.number_field :id_performer %>
  </div>
  <div class="field">
    <%= f.label :status_request %><br />
    <%= f.text_field :status_request %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
